{% extends 'base.html' %}
{% block title %}About me{% endblock %}

{% block content %}
<section class="content-section">
  <h2>About Me</h2>
  <p>
    My name is <strong>Damien Fuster</strong>. I’m passionate about plant biology, 
    with a strong interest in understanding how plants interact with their environment and in developing 
    innovative solutions for more sustainable agriculture.
  </p>
  <p>
    I studied at AgroParisTech, where I specialized in plants biology and biotechnology. 
  </p>
  <p>
    This website is a space where I share my projects, scientific articles, and plant fact sheets 
    for curious minds, students, or nature enthusiasts.
  </p>
</section>
<section class="content-section">
  <h3>Useful Links</h3>
  <ul class="links-list">
    <li><a href="https://www.linkedin.com/in/damien-fuster-78768520b/" target="_blank">My LinkedIn profile</a></li>
    <li><a href="https://github.com/DamienFUSTER" target="_blank">My GitHub repositories</a></li>
    <li><a href="mailto:damien.fuster@agroparistech.fr">Contact me by email</a></li>
  </ul>
</section>
{% endblock %}
